body{
    background-image: url(/images/cms.jpg);
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.799);
    height: 550px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    text-align: center;
}